# WireGuard 클라이언트 설정 예제
#
# 서버에서 setup-vpn-server.sh 실행 후
# 출력된 설정을 여기에 붙여넣으세요
#
# 사용법:
#   cp client.conf.example /tmp/my-vpn.conf
#   vi /tmp/my-vpn.conf  # 실제 값으로 수정
#   sudo ./add-vpn.sh wg0 /tmp/my-vpn.conf

[Interface]
PrivateKey = <서버에서_생성된_클라이언트_개인키>
Address = 10.8.0.2/24
DNS = 1.1.1.1, 8.8.8.8

[Peer]
PublicKey = <서버_공개키>
Endpoint = <서버_공인_IP>:51820
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
